//Portfolio Page Slick Slide Show
.slick-prev::before,
.slick-next::before {
    font-size: 40px;
    color: white;
}

slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    padding: 15px;
}
