[class*="fi-"] {
    display: block;
    text-align: center;
    font-size: em(24px);
}
  i.fi-codepen img{
    width: em(24px);
    height: em(24px);
  }

/* .fi-codePen {
  width: 120px;
   required to center

  height: 120px;
}

.outer-ring {
  fill: black;
}

.inner-box {
  fill: black;
}

body {
  text-align: center;
} */
